@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
.one{
    background-image: url(../image/IMAGE\ \(28\).png);
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.two{
    font-family: "Yellowtail", serif;

}